USE [master]
GO
/****** Object:  Database [Encuestador]    Script Date: 4/6/2021 8:44:10 PM ******/
CREATE DATABASE [Encuestador]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Encuestador', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Encuestador.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Encuestador_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Encuestador_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Encuestador].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Encuestador]
GO
/****** Object:  Table [dbo].[encuesta]    Script Date: 4/6/2021 8:44:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[encuesta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[personas_encuestadas]    Script Date: 4/6/2021 8:44:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personas_encuestadas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_persona] [int] NULL,
	[id_encuesta] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[preguntas]    Script Date: 4/6/2021 8:44:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[preguntas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_encuesta] [int] NULL,
	[pregunta] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[respuestas]    Script Date: 4/6/2021 8:44:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[respuestas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[respuesta] [varchar](350) NULL,
	[id_pregunta] [int] NULL,
	[id_persona] [int] NULL,
	[id_encuesta] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 4/6/2021 8:44:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](70) NULL,
	[usuario] [varchar](25) NULL,
	[user_password] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[personas_encuestadas]  WITH CHECK ADD FOREIGN KEY([id_encuesta])
REFERENCES [dbo].[encuesta] ([id])
GO
ALTER TABLE [dbo].[personas_encuestadas]  WITH CHECK ADD FOREIGN KEY([id_persona])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[preguntas]  WITH CHECK ADD FOREIGN KEY([id_encuesta])
REFERENCES [dbo].[encuesta] ([id])
GO
ALTER TABLE [dbo].[respuestas]  WITH CHECK ADD FOREIGN KEY([id_encuesta])
REFERENCES [dbo].[encuesta] ([id])
GO
ALTER TABLE [dbo].[respuestas]  WITH CHECK ADD FOREIGN KEY([id_persona])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[respuestas]  WITH CHECK ADD FOREIGN KEY([id_pregunta])
REFERENCES [dbo].[preguntas] ([id])
GO
USE [master]
GO
